.uniform__potty {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/*
     FILE ARCHIVED ON 07:41:46 Jul 13, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:34:42 Apr 03, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.189
  esindex: 0.015
  RedisCDXSource: 0.702
  load_resource: 50.188
  PetaboxLoader3.datanode: 42.656 (4)
  PetaboxLoader3.resolve: 30.454
  LoadShardBlock: 40.809 (3)
  exclusion.robots: 0.203
  CDXLines.iter: 14.415 (3)
  captures_list: 59.556
*/